.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35));
}

body {
  font-family: 'monseratt', sans-serif;
}

.App {
  background-image: url('./Assets/cold-bg.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  transition: 0.4 ease-out;
}

.App .warm {
  background-image: url('./Assets/warm-bg.jpg');
}

main {
  height: 600px;
  padding-bottom: 1.5rem;
}

.searchBox {
  width: 100%;
  margin: 0 0 5rem;
}

.searchBar {
  display: inline-block;
  width: 300px;
  height: 2.5rem;
  padding: .4rem .4rem .4rem 1.3rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  color: #313131;
  transition: 0.4s ease;
}

.searchBar:focus,
.searchBar:hover {
  background-color:rgba(255,255,255,0.85);
  transform: scaleY(1.1);
  transition: .2s;
  cursor: pointer;
}

.location {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 1.5px 1.5px rgba(50,50,70,0.3);
}

.date {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 1.5px 1.5px rgba(50,50,70,0.3);
}

.weatherBox {
  text-align: center;
}

.temperature {
  position: relative;
  display: inline-block;
  margin: 2.5rem auto;
  background-color: rgba(245,245,245,0.5);
  border-radius: 1rem;
  padding: 1rem 1rem;
  color: #fff;
  font-size: 5.5rem;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,.3);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,.2);
}

.weather {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,.5);
}